*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 180px;
    background: beige;
}

.wrapper
{
    background: teal;
    color: beige;
}

.input-box input::placeholder
{
    color: sandybrown;
}