@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #008080; 
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d4d; 
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em; 
    color: #d16523; 
}

nav {
    background-color: rgba(62, 62, 62, 0.8);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #e68080;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #FFFFFF;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
    font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .title
    {
        font-weight: bold;
    }
}

th, td {
    border: 2px solid #000000;
    padding: 12px;
    text-align: center;
    
}

th {
    background-color: #003366;
    color: #fff;
    font-weight: bold;
}

ul {
    padding: 0;
    list-style-type: square;
    margin-left: 20px;
}

form {
    background-color: #f9f9f9; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #0056b3;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}

button:hover {
    background-color: #003d7a;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}