header{
    /* justify-content: center; */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

textBox{
    display: flex;

    .container{
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }

    .left{
        background-color: #f0f0f0;
        border-right: 1px solid #ccc;
    }
}